<h2>List all the books - {{bookQuantity}}</h2>
<ul class="list-unstyled">
  <li class="media my-4" *ngFor="let book of books">
    <img class="d-flex mr-3 img-thumbnail" src="{{book.imageUrl}}" alt="Generic placeholder image">
    <div class="media-body">
      <h5 class="mt-0 mb-1">
        <a [routerLink]="['/book-detail/',book.id]">{{book.title}}</a>
      </h5>
      {{book.description}}
    </div>
  </li>
</ul>
