<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink] = "['/']">{{title}}</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink] ="['/book-list']">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink] = "['/book-form']">Create</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="jumbotron">

    <router-outlet></router-outlet>

  </div>
</div>
