<h2>Create a book</h2>
<form>

  <div class="form-group row"><label class="col-2 col-form-label">Title</label>
    <div class="col-10">
      <input class="form-control" type="text" value="book title">
    </div>
  </div>

  <div class="form-group row"><label class="col-2 col-form-label">Description</label>
    <div class="col-10">
      <textarea class="form-control" rows="3">book description</textarea>
    </div>
  </div>

  <div class="form-group row"><label class="col-2 col-form-label">Unit cost</label>
    <div class="col-10">
      <div class="input-group">
        <input class="form-control" type="number" value="book unitCost" >
        <span class="input-group-addon">$</span>
      </div>
    </div>
  </div>

  <div class="form-group row"><label class="col-2 col-form-label">ISBN</label>
    <div class="col-10">
      <input class="form-control" type="text" value="book isbn">
    </div>
  </div>

  <div class="form-group row"><label class="col-2 col-form-label">Number of pages</label>
    <div class="col-10">
      <input class="form-control" type="number" value="book nbOfPages">
    </div>
  </div>

  <div class="form-group row"><label class="col-2 col-form-label">Language</label>
    <div class="col-10">
      <input class="form-control" type="text" value="book language" >
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Create</button>
  <a class="btn btn-secondary" href="" role="button">Cancel</a>
</form>
